<!-- templates/employees.html -->
{% extends "base.html" %}

{% block title %}Список сотрудников{% endblock %}

{% block styles %}
<style>
    .btn {
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.2s ease;
    }

    .btn-primary {
        background-color: #2ecc71;
        color: white;
    }

    .btn-primary:hover {
        background-color: #27ae60;
    }

    .btn-secondary {
        background-color: #95a5a6;
        color: white;
    }

    .btn-secondary:hover {
        background-color: #7f8c8d;
    }
</style>
{% endblock %}

{% block content %}
  <h2>Список сотрудников</h2>
  
  <table>
      <thead>
          <tr>
              <!-- Alt+24=↑ ALT+25=↓--> 
              <th>
                  {% if current_sort == 'name' and current_order == 'asc' %}
                      <a href="?page={{ pagination.page }}&sort=name&order=desc">ФИО ↓</a>
                  {% elif current_sort == 'name' and current_order == 'desc' %}
                      <a href="?page={{ pagination.page }}&sort=name&order=asc">ФИО ↑</a>
                  {% else %}
                      <a href="?page={{ pagination.page }}&sort=name&order=asc">ФИО</a>
                  {% endif %}
              </th>
              
              <th>
                  {% if current_sort == 'employee_position' and current_order == 'asc' %}
                      <a href="?page={{ pagination.page }}&sort=employee_position&order=desc">Должность ↓</a>
                  {% elif current_sort == 'employee_position' and current_order == 'desc' %}
                      <a href="?page={{ pagination.page }}&sort=employee_position&order=asc">Должность ↑</a>
                  {% else %}
                      <a href="?page={{ pagination.page }}&sort=employee_position&order=asc">Должность</a>
                  {% endif %}
              </th>

               <th>
                  {% if current_sort == 'department' and current_order == 'asc' %}
                      <a href="?page={{ pagination.page }}&sort=department&order=desc">Подразделение ↓</a>
                  {% elif current_sort == 'employee_position' and current_order == 'desc' %}
                      <a href="?page={{ pagination.page }}&sort=department&order=asc">Подразделение ↑</a>
                  {% else %}
                      <a href="?page={{ pagination.page }}&sort=department&order=asc">Подразделение</a>
                  {% endif %}
              </th>

              <th>
                  {% if current_sort == 'salary' and current_order == 'asc' %}
                      <a href="?page={{ pagination.page }}&sort=salary&order=desc">Зарплата ↓</a>
                  {% elif current_sort == 'salary' and current_order == 'desc' %}
                      <a href="?page={{ pagination.page }}&sort=salary&order=asc">Зарплата ↑</a>
                  {% else %}
                      <a href="?page={{ pagination.page }}&sort=salary&order=asc">Зарплата</a>
                  {% endif %}
              </th>
          </tr>
      </thead>
      <tbody>
          {% for item in employees %}
          <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.employee_position }}</td> 
              <td>{{ item.department.name_department if item.department else '—' }}</td>
              <td>{{ "%.0f ₽"|format(item.salary or 0) }}</td>
              <td> <a href="{{ url_for('edit_employee', emp_id=item.id) }}" class="btn btn-sm btn-primary"> Сменить отдел </a> </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <div style="margin-top: 20px;">
      {% if pagination.has_prev %}
         <a href="?page={{ pagination.prev_num }}{% if current_sort %}&sort={{ current_sort }}&order={{ current_order }}{% endif %}">Назад</a>
      {% endif %}
      
      Страница {{ pagination.page }} из {{ pagination.pages }}
      
      {% if pagination.has_next %}
         <a href="?page={{ pagination.next_num }}{% if current_sort %}&sort={{ current_sort }}&order={{ current_order }}{% endif %}">Вперед</a>
      {% endif %}
  </div>
{% endblock %}