{% extends "base.html" %}

{% block title %} Выбор пользователя {% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('login') }}">
    <label for="username">Выберите пользователя:</label>
    <select name="username" id="username" required>
        Добавляем заглушку по умолчанию -->
        <option value="" disabled selected>-- Выберите аккаунт --</option>
        
        {% for id, name in users_list %}
            <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
        <option disabled selected>Отладка: список скрыт</option>
        
    </select>

    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Войти</button>
</form>
{% endblock %}